html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}


/* Extra styles added below */

@media (orientation:portrait) { 
	.page-container {
		flex-direction: column;
	}

	.header {
		width: 100%;      
	}

	.content {
		width: 100%;
	}
}

@media (orientation:landscape) { 
	.page-container {
		flex-direction: row;
	}

	.header {
		height: 100%;      
	}

	.content {
		height: 100%;
	}
}

.page-container {	
	display: flex;
	height: 98%;
}

.header {
	flex: 1;
}

.content {
	flex: 2;
}

.centered-flex-container {
	/* nested flex container */
	display: flex;
	align-items: center;
}

.centered {
	margin: auto auto;
}
