<script>
	import { score, isGameOver } from './stores.js';
	import Controls from './Controls.svelte';
	import Game from './Game.svelte';
	

	let game;

</script>

<div class="header centered-flex-container">
	<!--TODO: Move header to Controls-->
    <div class="centered">
		<h1>Memory game </h1>
		<Controls on:resetGame={() => game.resetCards()}></Controls>
	</div>
</div>
<div class="content centered-flex-container">
	<Game bind:this={game} rows=2 columns=3 > </Game>
</div>
