<script>
	import { createEventDispatcher } from 'svelte';
	import { score, isGameOver } from './stores.js';


	const dispatch = createEventDispatcher();

	function playAgain() {
		dispatch('resetGame');
	}
	
</script>


<h2>
	{$score}
</h2>
{#if $isGameOver}
	<button on:click={playAgain}>Keep Playing!</button>
{/if}