<script>
	import { getRandomColor, shuffle } from './game-utils.js';
	import { rows, columns, score, isGameOver } from './stores.js';
	import Card from './Card.svelte';
	

	let totalWidth = 100;
	let totalHeight = 100;

	// TODO: Let CSS handle layout...
	$: refWidth = totalWidth < totalHeight ? totalWidth : totalHeight; 
	const cardMargin = 10;	// There is some text being inserted between divs...
	$: tileWidth = $columns > 0 ? (refWidth / $columns) - cardMargin : refWidth - cardMargin;

	
	let cards = []

	export function resetCards() {
		if ($isGameOver) {
			$isGameOver = false;
			do {
				if ($columns < 2 * $rows) {
					$columns++;
				} else {
					$rows++;
					$columns = $rows;
				}
			} while(($rows * $columns) % 2 === 1)
		}
		$score = 0; 	// This is more that just reseting cards...

		const numColors = ($rows * $columns) / 2;
		
		let tiles = []

		if (($rows * $columns) % 2 === 1) {
			alert("Please tell Antony there is a bug in the grid calculation logic!");
			return;
		}

		for (let i = 0; i < numColors; i++) {
			const randomColor = getRandomColor();
			tiles.push(randomColor);
			tiles.push(randomColor);
		}

		shuffle(tiles);
		cards = tiles.map((color, i) => { return {
			id: i,
			color: color,
			isActive: false,
			isInvisible: false,
		}});

	}

	resetCards();

	$: $isGameOver = !cards.some(function(card) {
		return !card.isInvisible;
	});


	var visible = []

	function get(id) {
		// This works by creating a subscription, reading the value, then unsubscribing. 
		// It's therefore not recommended in hot code paths.
		return cards[id];
	}
    function show(id) {
		// id is index really...
		cards[id].isActive = true;
	}
    function remove(id) {
		// id is index really...
		cards[id].isInvisible = true;
	}
    function hide(id) {
		// id is index really...
		cards[id].isActive = false;
	}
		
	export function onSelected(c) {
		console.log("SELECTED")
		console.log(c)
		
		if (visible.length < 2) {
			visible.push(c);
			show(c);
		}
		
		if (visible.length === 2) {
			const shouldRemove = get(visible[0]).color === get(visible[1]).color
			if (shouldRemove) {
				console.log("increase score")
				$score ++;
			}
			setTimeout(function() {
				visible.forEach(function(c) {
					if (shouldRemove) {
						remove(c);
					} else {
						hide(c);
					}
				})
				visible.length = 0;
			}, 1000);
		}
	}
</script>

<style>
	.filled {
		width: 100%;
		height: 100%;
	}
</style>


<div class="filled centered-flex-container" bind:clientWidth={totalWidth} bind:clientHeight={totalHeight}>
	<div class="centered">
	{#each cards as card, i}
		<Card h={tileWidth} w={tileWidth} id={i} active={card.isActive} invisible={card.isInvisible} color={card.color} callback={onSelected} ></Card>{#if (i+1) % $columns === 0}
			<br />
		{/if}
	{/each}
	</div>
	
</div>